.thanksContainer{
    position: absolute;
    width: 100vw;
    height: 88vh;
    bottom: 0;
}
.messageContainer{
    width: 800px;
    height: 300px;
    margin: 0 auto;
    margin-top: 8%;
    text-align: center;
}
.messageContainer h1{
    font-size: 80px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.messageContainer .a{
    font-size: 60px;
    border: 1px solid white;
    padding: 10px;
    background-color: black;
}
.messageContainer .a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}