.main{
    position: absolute;
    width: 100%;
    height: 86%;
    bottom: 0;
}
.Contact{
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 50%;
}
/*contactContainer*/

.contactContainer{
   position: absolute;
   width: 50%;
   height: 100%;
   left: 0;
}
.contactContainer h2{
    font-size: 70px;
    margin-top: 25px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-family: "Monteserrat", sans-serif;
}
.contactContainer p{
    font-size: 40px;
    margin-left: 12px;
}
.contactContainer a{
    color: #fff;
    text-decoration: none;
}
.contactContainer ul li{
    display: inline-block;
}
.contactContainer ul li a img{
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: -6px;
    transform: scale(1);
}
.contactContainer ul li a img:hover{
    transform: scale(0.8);
}
.contactContainer ul li a{
    font-size: 45px;
    font-weight: bold;
}
.contactContainer ul li a:hover{
    transition: .4s;
    color: #ea1538;
}

/*cContainer*/
.cContainer{
position: absolute;
width: 50%;
height: 100%;
right: 0;
}
.cContainer h3{
    font-size: 70px;
    color: white;
    font-weight: bold;
    font-family: "Monteserrat", sans-serif;
    margin-top: 20px;
    margin-left: 20px
}
.cContainer p{
    font-size: 40px;
    color: white;
    margin-left: 22px;
}
.cContainer img{
    width: 150px;
    height: 150px;
    margin-top: 120px;
    margin-left: 10px;
    margin-bottom: -8px;
    transform: scale(1);
}
.cContainer .button{
    width: 410px;
    height: 125px;
    transform: translateY(-45%);
    margin-left: 10px;
    font-size: 30px;
}
.cContainer .hoverble:hover img{
    transform: scale(0.8);
}

/*emailContainer*/
.emailContainer{
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 50%;
    bottom: 0;
}
.emailContainer h2{
    font-size: 70px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin-left: 10px;
}
.textareaContainer{
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    height: 100%;
}
.textareaContainer .textarea{
    width: 600px;
    height: 250px;
    margin-top: 85px;
    transform: translateY(25%);
    margin-left: 10px;
    border: 1px solid #ea1538;
    background: linear-gradient(to right, #800020, #28282B, #000000);
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.textareaContainer .button{
    margin-left: 10px;
    transform: translateY(124%);
}
.inputContainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
}
.inputContainer .input{
    width: 450px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
    transform: translateY(123%);
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #800020, #28282B, #000000);
    border: 1px solid #ea1538;
}
.button{
    width: 120px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #ea1538;
    border-radius: 5px;
    cursor: pointer;
}
.button a{
    color: red;
}
.button:hover{
    background-color: white;
}


@media only screen and (max-height: 1000px){
    .main{
        overflow-y: hidden;
    }
    /*contacContainer*/

    .contactContainer h2{
        font-size: 60px;
        margin-top: 20px;
    }
    .contactContainer p{
        font-size: 40px;
        margin-left: 10px;
    }
    .p{
        color: #fff;
    }
    .contactContainer ul li a img{
        width: 100px;
        height: 100px;
        margin-top: 80px;
    }
    .contactContainer ul li a{
        font-size: 30px;
    }

    /*cContainer*/

    .cContainer h3{
        font-size: 60px;
    }
    .cContainer p{
        font-size: 40px;
    }
    .cContainer img{
        width: 100px;
        height: 100px;
        margin-top: 80px;
        margin-bottom: -1px;
    }
    .cContainer .button{
        width: 300px;
        height: 75px;
    }

    /*emailContainer*/

    .emailContainer{
        height: 50%;
    }
    .emailContainer h2{
        font-size: 60px;
        margin-top: 30px;
    }
    .textareaContainer{
        width: 75%;
        margin-top: 40px;
    }
    .textareaContainer .textarea{
        width: 550px;
        height: 140px;
        margin-top: 52px;
    }
    .textareaContainer .button{
        margin-left: 10px;
        margin-top: -15px;
        transform: translateY(100%);
    }
    .inputContainer{
        margin-top: 40px;
        width: 40%;
        height: 100%;
    }
    .inputContainer .input{
        width: 410px;
        height: 50px;
        transform: translateY(120%);
    }
    .Thanks{
        /* background-color: blue; */
        width: 400px;
        height: 70px;
        font-size: 25px;
        text-align: center;
        color: white;
        margin-top: 170px;
        margin-left: 590px;
        display: none;
    }
}

@media only screen and (max-height: 900px){
    .textareaContainer{
        width: 72%;
    }
}

@media only screen and (max-height: 800px){
    .contactContainer h2{
        font-size: 45px;
        margin-top: 20px;
        margin-left: 15px;
    }
    .contactContainer p{
        font-size: 30px;
        margin-left: 15px;
    }
    .contactContainer ul li a img{
        width: 75px;
        height: 75px;
        margin-top: 62.5px;
        margin-left: 15px;
    }
    .contactContainer ul li a{
        font-size: 30px;
        text-decoration: none;
        color: white;
   }
    .cContainer h3{
        font-size: 45px;
        margin-left: 25px;
    }
    .cContainer p{
        font-size: 30px;
        margin-left: 25px;
    }
    .cContainer img{
        width: 75px;
        height: 75px;
        margin-top: 60px;
        margin-bottom: -1px;
        margin-left: 12px;
    }
    .cContainer .button{
        width: 300px;
        height: 75px;
        margin-left: 10px;
    }
    .cContainer .hoverble:hover img{
        transform: scale(0.8);
    }

    /*emailContainer*/
    .emailContainer{
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
    }
    .emailContainer h2{
        font-size: 45px;
        margin-top: 5px;
    }
    .textareaContainer{
        width: 65%;
        margin-top: 25px;
    }
    .textareaContainer .textarea{
        width: 550px;
        height: 140px;
        margin-top: 10px;
    }
    .textareaContainer .button{
        margin-left: 10px;
        transform: translateY(100%);
    }
    .inputContainer{
        margin-top: 13px;
    }

    .inputContainer .input{
        width: 410px;
        height: 50px;
        margin-top: 25px;
        transform: translateY(70%);
    }
}
