.mainContainer{
    width: 100%;
    height: auto;
    min-height: 100%;
  }
  .tableOne{
    position: absolute;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    transform: translateX(0%);
    animation: transitionTableOne 1s;
    text-align: center;
}
.tableTwo{
    position: absolute;
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    transform: translateX(100%);
    animation: transitionTableTwo 1s;
    text-align: center;
}
.table{
    margin: 0 auto;
    width: 80%;
    height: 60%;
    font-size: 25px;
}
.table1{
    margin: 0 auto;
    width: 80%;
    height: 60%;
    font-size: 25px;
}
.table2{
    margin: 0 auto;
    width: 80%;
    height: 60%;
    font-size: 25px;
}
.h1Table{
    font-size: 45px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: lightgray
}
.tdRed{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-radius: 5px;
    width: 25%;
    height: 40px;
    background: rgba(128, 0, 32, 0.8);
}
.tdGray{
    background-color: rgba(229, 228, 226, 0.5);
    padding: 10px;
    font-size: 30px;
}
.tdGray1{
    background-color: rgba(229, 228, 226, 0.5);
    padding: 10px;
    font-size: 25px;
} 

@keyframes transitionTableTwo {
    from{
        transform: translateX(200%);
       
    }
    to{
        transform: translateX(100%);
      
    }
}
@keyframes transitionTableOne {
    from{
        transform: translateX(-100%)
    }
    to{
        transform: translateX(0%);
    }
}
  .tableContainer{
      position: absolute;
      width: 100%;
      height: 45%;
  }
  .aboutContainer{
      position: absolute;
      /* background-color: red; */
      width: 100%;
      transform: translateY(64%);
      height: 70%;
      margin-top: 25px;
  }
  .imgContainer{
      width: 37%;
      height: 100%;
      position: absolute;
      left: 0;
      /* background-color: blue; */
      margin-left: 30px;
  }
  .imgContainer img{
      width: 90%;
      height: 90%;
      margin-top: 30px;
      margin-left: 10px;
      border: 3px solid #D2042D;
      border-radius: 50%;
  }
  .textContainer{
      width: 60%;
      min-height: 100%;
      height: auto;
      position: absolute;
      right: 0;
      /* background-color: pink; */
      text-align: center;
      font-size: 30px;
  }
  .h1-about{
      margin-top: 250px;
      color: lightgray;
  }

  



@media only screen and (max-height: 980px){
  .mainContainer{
    width: 100%;
    height: auto;
    min-height: 100%;
  }
  .tableOne{
    position: absolute;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    transform: translateX(0%);
    animation: transitionTableOne 1s;
    text-align: center;
}
.tableTwo{
    position: absolute;
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    transform: translateX(100%);
    animation: transitionTableTwo 1s;
    text-align: center;
}
.table{
    margin: 0 auto;
    width: 80%;
    height: 60%;
    font-size: 25px;
}
.table2{
    margin: 0 auto;
    width: 80%;
    height: 78%;
    font-size: 25px;
}
.h1Table{
    font-size: 45px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: lightgray
}
.tdRed{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-radius: 5px;
    width: 25%;
    height: 40px;
    background: rgba(128, 0, 32, 0.8);
}
.tdGray{
    background-color: rgba(229, 228, 226, 0.5);
    padding: 10px;
    font-size: 25.3px;
} 
.tdGray1{
    background-color: rgba(229, 228, 226, 0.5);
    padding: 10px;
    font-size: 25px;
}
@keyframes transitionTableTwo {
    from{
        transform: translateX(200%);
       
    }
    to{
        transform: translateX(100%);
      
    }
}
@keyframes transitionTableOne {
    from{
        transform: translateX(-100%)
    }
    to{
        transform: translateX(0%);
    }
}
  .tableContainer{
      position: absolute;
      width: 100%;
      height: 45%;
  }
  .aboutContainer{
      position: absolute;
      /* background-color: red; */
      width: 100%;
      transform: translateY(64%);
      height: 70%;
      margin-top: 25px;
  }
  .imgContainer{
      width: 37%;
      height: 100%;
      position: absolute;
      left: 0;
      /* background-color: blue; */
      margin-left: 30px;
  }
  .imgContainer img{
      width: 90%;
      height: 90%;
      margin-top: 30px;
      margin-left: 10px;
      border: 3px solid #D2042D;
      border-radius: 50%;
  }
  .textContainer{
      width: 60%;
      min-height: 100%;
      height: auto;
      position: absolute;
      right: 0;
      /* background-color: pink; */
      text-align: center;
      font-size: 30px;
  }
  .h1-about{
      margin-top: 60px;
      color: lightgray;
  }
}
  

