.mainHome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 35px;
    width: 100%;
    height: auto;
    min-height: 86%;
    margin-top: 60px;
    overflow-y: hidden;
}
.imgHome{
 position: absolute;
 width: 40%;
 height: 90%; 
 bottom: 0;
 right: 0;
}
.imgHome .img{
    position: absolute;
    bottom: 0;
    right: 8%;
    height: 150%;
    width: 125%;
}
.textHome{
    position: absolute;
    width: 650px;
    height: 250px;
    transform: translate(20%, 250%);
    left: 0;
    color: white;
}
.textHome h1{
    text-align: left;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
 }
 .textHome h2{
     font-size: 60px;
     text-align: left;
     font-family: "Montserrat", sans-serif;
 }

 

@media only screen and (max-height: 1000px){
    .textHome{
        transform: translate(15%, 200%);
    }
    .textHome h1{
        font-size: 80px;
    }
    .textHome h2{
        font-size: 45px;
    }
}


@media only screen and (max-height: 900px){
    .textHome{
       transform: translate(20%, 175%);
    }
    .textHome h1{
        font-size: 80px;
    }
    .textHome h2{
        font-size: 45px;
    }
}

@media only screen and (max-height: 800px){
    .mainHome{
        min-height: 81%;
    }
    .textHome{
        width: 450px;
        height: 150px;
        transform: translate(20%, 200%);
    }
    .textHome h1{
        font-size: 60px;
    }
    .textHome h2{
        font-size: 35px;
    }
}
